<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3002/style.css"/>
    <script src="http://localhost:3002/header.js" defer></script>
</head>
<body>
    <%- include('header.ejs'); %>
    <br>
    <br>
    <h1>404 Not Found</h1>
</body>
</html>