<header>
    <a href="/">Shop</a>
    <a href="/products">Products</a>
    <a href="/cart">Cart</a>
    <a href="/admin/addproduct">Add Product</a>
    <a href="/admin/products">Admin Products</a>

    <a id="auth" href="/auth/login">Login</a>
</header>